#video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero {
	height: 100vh;
	width: 100%;
	object-fit: contain;
}

.hero content {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
	text-align: center;
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	top: 40vh;
}

.hero .content h1 {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
	font-size: 4rem;
	color: #fff;
	opacity: 80%;
}

.hero .content h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin-bottom: 8rem;
	color: #fff;
	opacity: 80%;
}

.hero .btn {
	margin: auto;
	text-align: center;
	font-family: 'Jost', sans-serif;
	text-decoration: none;
	padding: 0.2em;
	font-size: 2rem;
	color: #fff;
	border-radius: 0.5em;
	width: 12%;
	opacity: 80%;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
}